{% extends "SitePortailBundle:Portail:index.html.twig" %}
{% block corp %}

<table class="gestion">
<tr>

<tr><td>date</td><td>{{ anc.date}}</td></tr>
<tr><td>letter</td><td>{{ anc.letter}}</td></tr>
<tr><td>secteur</td><td>{{ anc.secteur}}</td></tr>


</tr>
</table>
{% endblock %}