<div style="_height:200px; width:950px;font-family:Arial;text-align:center;" id="basss">
        <a href="/?go=OffreBonCoin" onclick="location.href = 'http://www.six-douze.com/?go=OffreBonCoin'; navigation();return false" style="font-size:19px;font-family:Arial; color: #87A800;">
        Bon Coin
        </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a  href="/?go=tilawa" onclick="location.href = 'http://www.six-douze.com/?go=tilawa';navigation();return false" style="font-size:19px;font-family:Arial;color:#FF7600;">
        &#1585;&#1608;&#1575;&#1574;&#1593; &#1575;&#1604;&#1578;&#1604;&#1575;&#1608;&#1575;&#1578;
        </a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/?go=do3a" onclick="location.href = 'http://www.six-douze.com/?go=do3a';navigation();return false" style="font-size:12px;font-family:Arial; color: #FF7600;">
         &#1583;&#1593;&#1575;&#1569; &#1601;&#1610;&#1583;&#1610;&#1608;
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=CuisineFemmes"  onclick="location.href = 'http://www.six-douze.com/?go=CuisineFemmes';navigation();return false" style="font-size:18px;font-family:Arial; color: #DE2159;">
         Cuisine
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=HighTech"  onclick="location.href = 'http://www.six-douze.com/?go=HighTech';navigation();return false" style="font-size:20px;font-family:Arial; color: #87A800;">
         Hight-Tech</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <a href="http://www.six-douze.com/popup/radio-six-douze.php" target="_blank" style="font-size:18px;font-family:Arial; color: #039FAF;">
         Radio
         </a>  -->
         <!--<a href="#" target="_blank" style="font-size:18px;font-family:Arial; color: #039FAF;">
         Radio
         </a> -->
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=Humour"  onclick="location.href = 'http://www.six-douze.com/?go=Humour';navigation();return false" style="font-size:15px;font-family:Arial; color: #DE2159;">
         Vi&eacute;do Humour
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=ActualiteNational" onclick="location.href='http://www.six-douze.com/?go=ActualiteNational';navigation();return false" style="font-size:18px;font-family:Arial; color: #DE2159;">
         Actualit&eacute; Nationale
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=AccessoireFemmes"  onclick="location.href = 'http://www.six-douze.com/?go=AccessoireFemmes';navigation();return false" style="font-size:22px;font-family:Arial; color: #039FAF;">
         Accessoires Femmes
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=AccessoireHomme"  onclick="location.href = 'http://www.six-douze.com/?go=AccessoireHomme';navigation();return false" style="font-size:20px;font-family:Arial; color: #87A800;">
         Accessoires Hommes
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=sportInternational"  onclick="location.href = 'http://www.six-douze.com/?go=sportInternational';navigation();return false" style="font-size:20px;font-family:Arial; color: #FF7600;">
         Sports International
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=OffreBonCoin"  onclick="location.href='http://www.six-douze.com/?go=OffreBonCoin'; navigation();return false" style="font-size:16px;font-family:Arial; color: #039FAF;">
         Vente
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=Divers"  onclick="location.href = 'http://www.six-douze.com/?go=Divers';navigation();return false" style="font-size:19px;font-family:Arial; color: #87A800;">
         Documentaires
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=ActualiteInternational" onclick="location.href = 'http://www.six-douze.com/?go=ActualiteInternational';navigation();return false"  style="font-size:20px;font-family:Arial; color: #FF7600;">
         Actualit&eacute; Internationale
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=sportNational"  onclick="location.href = 'http://www.six-douze.com/?go=sportNational';navigation();return false" style="font-size:19px;font-family:Arial; color: #DE2159;">
         Sports National
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a  href="/?go=Motors"  onclick="location.href = 'http://www.six-douze.com/?go=Motors';navigation();return false" style="font-size:12px;font-family:Arial; color: #87A800;">
         Motors
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=i3jaz" onclick="location.href = 'http://www.six-douze.com/?go=i3jaz';navigation();return false" style="font-size:15px;font-family:Arial; color: #FF7600;">
         &#1606;&#1601;&#1581;&#1575;&#1578; &#1575;&#1587;&#1604;&#1575;&#1605;&#1610;&#1577;
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=Films"  onclick="location.href = 'http://www.six-douze.com/?go=Films';navigation();return false" style="font-size:14px;font-family:Arial; color: #87A800;">
         Films
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=DemandeBonCoin"  onclick="location.href='http://www.six-douze.com/?go=DemandeBonCoin'; navigation();return false" style="font-size:12px;font-family:Arial; color: #FF7600;">
         Achat
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=Clips"  onclick="location.href = 'http://www.six-douze.com/?go=Clips';navigation();return false" style="font-size:15px;font-family:Arial; color: #039FAF;">
         Vi&eacute;do Clips
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="http://www.six-douze.com/popup/_coran.php" target="_blank" style="font-size:14px;font-family:Arial; color: #DE2159;">
         &#1575;&#1587;&#1578;&#1605;&#1593; &#1575;&#1604;&#1609; &#1575;&#1604;&#1602;&#1585;&#1570;&#1606; &#1575;&#1604;&#1603;&#1585;&#1610;&#1605;
         </a> 
         
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="http://www.six-douze.com/popup/chat.php" target="_blank"  style="font-size:16px;font-family:Arial; color: #DE2159;">
         Tchat
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=OffreAutomobile"  onclick="location.href = 'http://www.six-douze.com/?go=OffreAutomobile';navigation();return false" style="font-size:19px;font-family:Arial; color: #DE2159;">
         Les Offres Automobiles
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=Loisirs" onclick="location.href = 'http://www.six-douze.com/?go=Loisirs';navigation();return false" style="font-size:19px;font-family:Arial; color: #FF7600;">
         Loisir
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=OffreEmploi"  onclick="location.href = 'http://www.six-douze.com/?go=OffreEmploi';navigation();return false" style="font-size:13px;font-family:Arial; color: #87A800;">
         Emplois
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=AccueilHomme" onclick="location.href = 'http://www.six-douze.com/?go=AccueilHomme';navigation();return false" style="font-size:19px;font-family:Arial; color: #DE2159;">
         Hommes
         </a> 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/?go=sports" onclick="location.href = 'http://www.six-douze.com/?go=sports';navigation();return false" style="font-size:15px;font-family:Arial; color: #039FAF;">Sports</a> </div>
        <center>
          <div style="font-size:11px; margin-top:10px; width:600px; height:20px; background-color:#fff; color:#333333"> Copyright &copy; 2012. <b>CHNITI SOFT PRO</b>. All rights reserved. </div>
        </center>
      </div>