<form role="search" method="get" id="searchform" action="/forum/s">
<div class="search"  >
<input id="form" type="search" results="5" placeholder="Search..." />
<input  type="submit" value="ok"  />


</form>