<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
</title>
</head>
<body>

<form action="connexion" method="post">
nom:<input type="text" name="name">
<input type="submit" value="connexion">
</form>
<hr>
<form action="inscri" method="post">
nom:<input type="text" name="name"><br>
prenom :<input type="text" name="prenom"><br>
tel :<input type="text" name="tel"><br>
e-mail:<input type="text" name="email"><br>
mot pass:<input type="text" name="pwd"><br>
<input type="submit" value="valider"><br>
</form>
</body>
</html>
