{% extends "SitePortailBundle:Admin:admin_gestion.html.twig" %}
{% block gestion %}

<nav id="article12">
<div  class="menu_div">
<ul class="menu_ul">

<li >
<a class="button" href="{{ path('SitePortailBundle_gestion_NewsLetters_liste') }}" >toutes les Abonne&eacute;s</a>
</li>
<li >
<a class="button" href="{{ path('SitePortailBundle_NewsLetters_ajout') }}" >Ajouter Un NewsLetters</a>
</li>
</ul>
</div>
</nav>
<table>
<tr>
<td><br>{% block contenu %}{% endblock %} </td>

</tr>
</table>


{% endblock %}