* {
margin: 0;
padding: 0;
border: none;
}
#liste_menu
{
vertical-align:top;
}
#menu{

height:370px;
font-size:0.9em;
margin:0;
}

#menu ul{

width:215px;
position:relative;

background:transparent;
}

#menu ul li{
position:relative;
width:215px;
height:62px;
list-style:none;
}

#menu ul li a{
display:block;
width:160px;
height:56px;
padding-top:4px;
padding-left:25px;
padding-right:15px;
color:#222;
font-weight:bold;
text-decoration:none;

border:1px solid rgba(0,0,0,0.5);
border-left-width:15px;
border-top:1px solid rgba(255,255,255,0.5);
/***********/
background: #000000;
background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
position: relative;
z-index: 10;
border-bottom: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
}




#menu ul li a strong{
display:block;
font-size:0.8em;
font-weight:normal;

}

/*arrondis haut et bas*/
#menu ul li:first-child,#menu ul li:first-child a{
-webkit-border-radius:0px 15px 0px 0px;
-moz-border-radius:0px 15px 0px 0px;
border-radius:0px 15px 0px 0px;
}

#menu ul li:last-child,#menu ul li:last-child a{
-webkit-border-radius:0px 0px 15px 0px;
-moz-border-radius:0px 0px 15px 0px;
border-radius:0px 0px 15px 0px;
}

/*petite fleche*/
#menu ul li a:hover:after{
content:"";
position:absolute;
top:25px;
right:5px;
width:12px;
height:12px;
background:#ffffff;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
color:#ffffff;
font-size:0.6em;
font-weight:normal;
text-indent:3px;}

#menu ul li a:hover:before{
content:"";
position:absolute;
top:28px;
right:9px;
z-index:10;
width:0px;
height:0px;
border-left:3px solid;
border-top:3px solid transparent;
border-bottom:3px solid transparent;}
#menu ul li a:hover {background:#888;}

#article12
{

font-size:1em;
 height: 25px;
  width: 769px;
 
  margin:0;
  font-weight:bold;}
#article12 .menu_div{position:relative;}
#article12 .menu_ul{padding-left:0%;padding:10px;}
#article12 .menu_div ul{width:99%;height:30px;
}
#article12 .menu_div ul li{margin-left:5px;float:left;position:relative;list-style:none;height:30px;background:#999;box-shadow:0px 1px 2px black;background-color: #BBB;
border-radius:10px 10px 0px 0px;}
#article12 .menu_div ul li a{display:block;height:23px;padding:7px 20px 0px 20px;text-decoration:none;color:#000000;}
#article12 .menu_div ul li:hover a{background:#999;color:#fff;border-radius:5px;border-radius:10px 10px 0px 0px;}
