 .pagerfanta {
 
}

.pagerfanta a,
.pagerfanta span {
    display: inline-block;
    border: 1px solid #FF0000;
    color:#FF0000;
    margin-right: .2em;
    padding: .25em .35em;
	text-decoration:none;
}

.pagerfanta a {
    text-decoration: none;
}

.pagerfanta a:hover {
    background-color:#FF0000;
	text-decoration:none;
}

.pagerfanta .dots {
    border-width:1;
}

.pagerfanta .current {
    background-color: #FF0000;
    font-weight: bold;
}

.pagerfanta .disabled {
    border-color: #FF0000;
    color: #FF0000;
}



.pagerfanta a,
.pagerfanta span {
    border-color: #FF0000;
    color: #FF0000;
}

.pagerfanta a:hover {
    background: #FF0000;
}

.pagerfanta .current {
    background-color: #FF0000;
}

.pagerfanta .disabled {
    border-color:#FF0000;
    color:#FF0000;
}

