<div class="sondage_1_contenu">
<div class="sondage_1_c2">	
	<div id="sondage_infos_1"></div>	
	<div class="sondage_1_message_ls" id="sondage_p_aff_1"><form name="frm" method="get" action="" onsubmit="sendmsg(1);return false;">
	<div class="sondage_1_question">Question ?</div>
	<div class="sondage_1_rep"><input name="rep_sond_1" value="1" id="rep_sond_1" type="radio">
	<label for="rep_sond_1">Réponse 1</label><br><input name="rep_sond_1" value="2" id="rep_sond_2" type="radio">
	<label for="rep_sond_2">Réponse 2</label><br><input name="rep_sond_1" value="3" id="rep_sond_3" type="radio">
	<label for="rep_sond_3">Réponse 3</label><br><input name="rep_sond_1" value="4" id="rep_sond_4" type="radio">
	<label for="rep_sond_4">Réponse 4</label><br></div><div class="sondage_1_submit">
	<input src="1_fichiers/repondre_sond.png" style="border: 0px none; background: none repeat scroll 0% 0% transparent;" alt="Répondre" type="image">
	<br><a href="#null" onclick="javascript:aff_msgs(1);" style="color: rgb(34, 34, 34);">Afficher les résultats</a></div></form></div>		
	<script type="text/javascript">			charge_msg(1);		</script>	</div></div>
	