{% extends "SitePortailBundle:Admin:admin_layout.html.twig" %}

{% block content %}

<div id="corp">
<br>

<center><h1>Authentification <br><font COLOR="#eb0c0c">{{m}}</font></h1><br>
<img  src="{{ asset('images/key.png') }}"   /></center>
<form action="{{path('SitePortailBundle_AdminGestion')}}" method="post">
<table id="connexion">
<TR><TD >Login: </TD><TD><input type="text" name="login" ></TD></tr>
<TR><TD>Mot de passe: </TD><TD><input type="password" name="pwd"></TD></tr>
<tr><TD colspan=2 align="center"><input type="submit" value="Connexion" color="blue" onClick="javascript:xxxxxx()" ></td></TR>
</table>
</form>

<br><br><br>
</div>
{% endblock %}